#navigation {
    background-color: rgb(110, 128, 148);
    text-align: center;
}

#heading1 {
    color:white;
    text-align: center;
}

a {
    color: cyan;
    text-align: center;
}

#menu {
    text-align: center;

}